




.asd:hover{
	-fx-opacity: 1.0;
}
.asd {
	-fx-opacity: 0.7;
}

.castle{
	-fx-background-color: #424242 ;
	-fx-shape: "M 150 500 L 150 300 L 50 200 L 350 200 L 250 300 L 250 500 L 150 500 L 100 500 L 100 350 L 50 300 L 150 300 L 150 500 L 250 500 L 300 500 L 300 350 L 350 300 L 250 300 ";
}


/* 

3 vár

M 150 500 L 150 300 L 50 200 L 350 200 L 250 300 L 250 500 L 150 500 L 100 500 L 100 350 L 50 300 L 150 300 L 150 500 L 250 500 L 300 500 L 300 350 L 350 300 L 250 300

2 vár

M 150 500 L 150 300 L 50 200 L 350 200 L 250 300 L 250 500 L 150 500 L 100 500 L 100 350 L 50 300 L 150 300 L 150 500 L 250 500 

1 vár

M 150 500 L 150 300 L 50 200 L 350 200 L 250 300 L 250 500 L 150 500
* 
*  */